# Credenciales y entorno
.env
.venv/*
venv/*
.python-version
data/*.duckdb

# Datos y archivos pesados (No subir datasets a GitHub)
*.parquet
*.csv

# Python (archivos temporales)
__pycache__/
*.py[cod]

# Documentación temporal o de Office
~$*.docx
*.pdf

frontend/node_modules/*